jieba
tensorflow
keras>=2.1.5
gensim
flask
flask_cors
pytesseract
Pillow
opencv-python
scikit-image
wave
python_speech_features
pypinyin
pydub
pyaudio
parrots
kenlm
pycorrector
imageai
dlib
face_recognition