<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/custom.css">
</head>


<body>
<div class="container col-lg-6">
    <div style="padding-bottom: 0.5cm">
        <div class="card text-center bg-light">
            <div class="card-body" style="padding-bottom: 0.2cm">
                <input class="card-title form-control" type="file" id="input" name="input"/>
                <button class="card-text btn btn-outline-primary" id="btn">数字化妆</button>
                <div class="spinner" id="spinner" style="display: none">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
            <div class="card-footer bg-white">
                <img id="input_img" style="max-width: 400px;">
                <pre class="card-text api-pre" style="padding-bottom: 0.2cm">
                    <div><img id="api_output"/></div>
                </pre>
            </div>
        </div>
    </div>
</div>
</body>

<script type="text/javascript">
    $("#input").change(function () {
        run(this, function (data) {
            $('#input_img').attr('src', data);
        });
    });

    function run(input_file, get_data) {
        if (typeof (FileReader) === 'undefined') {
            alert("抱歉，你的浏览器不支持 FileReader，不能将图片转换为Base64，请使用现代浏览器操作！");
        } else {
            try {
                var file = input_file.files[0];
                if (!/image\/\w+/.test(file.type)) {
                    alert("请确保文件为图像类型");
                    return false;
                }
                var reader = new FileReader();
                reader.onload = function () {
                    get_data(this.result);
                }
                reader.readAsDataURL(file);
            } catch (e) {
                alert('图片转Base64出错啦！' + e.toString())
            }
        }
    }
</script>

<script type="text/javascript">
    function api_call(input) {
        // hide button and make the spinner appear
        $('#btn').toggle();
        $('#spinner').toggle();

        $.ajax({
            url: 'http://' + document.domain + ':5001/face_makeup_api',
            method: 'POST',
            contentType: 'application/json',
            data: JSON.stringify($('#input_img').attr('src')),

            success: function (data, textStatus, jQxhr) {
                // toggle the spinner and button
                $('#btn').toggle();
                $('#spinner').toggle();

                // fill the html for answer
                $('#api_output').attr('src', 'data:image/png;base64,' + data.output);

                $("#input").val("");
            },
            error: function (jqXhr, textStatus, errorThrown) {
                $('#btn').toggle();
                $('#spinner').toggle();

                $('#api_output').html("Sorry, the server is asleep...\nTry again in a moment!");

                console.log(errorThrown);
            },
            timeout: 10000 // sets timeout to 10 seconds
        });

    }


    $(document).ready(function () {
        // request when clicking on the button
        $('#btn').click(function () {
            // get the input data
            var input = $("#input").val();
            if (input === "") {
                alert("请先选择文件");
            } else {
                api_call(input);
            }
            input = "";
        });
    });
</script>
</html>
