<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/custom.css">
</head>


<body>
<div class="container col-lg-6">
    <div style="padding-bottom: 0.5cm">
        <div class="card text-center bg-light">
            <div class="card-body" style="padding-bottom: 0.2cm">
                <a class="card-text btn btn-outline-primary" href="./ocr_basic.html">通用文字提取</a>
                <a class="card-text btn btn-outline-primary" href="./ocr_idcard.html">证件照提取</a>
            </div>
        </div>
        <div class="card text-center bg-light">
            <div class="card-body" style="padding-bottom: 0.2cm">
                <a class="card-text btn btn-outline-primary" href="./image_predict.html">图像预测</a>
                <a class="card-text btn btn-outline-primary" href="./object_detect.html">图像检测</a>
            </div>
        </div>
        <div class="card text-center bg-light">
            <div class="card-body" style="padding-bottom: 0.2cm">
                <a class="card-text btn btn-outline-primary" href="./image_repair.html">图像修复</a>
                <a class="card-text btn btn-outline-primary" href="./contrast_enhance.html">对比度增强</a>
                <a class="card-text btn btn-outline-primary" href="./remove_mosaics.html">水印去除</a>
            </div>
        </div>
        <div class="card text-center bg-light">
            <div class="card-body" style="padding-bottom: 0.2cm">
                <a class="card-text btn btn-outline-primary" href="./ad_audit.html">广告检测</a>
                <a class="card-text btn btn-outline-primary" href="./vulgar_audit.html">色情检测</a>
                <a class="card-text btn btn-outline-primary" href="./politics_audit.html">涉政检测</a>
                <a class="card-text btn btn-outline-primary" href="./image_quality.html">图像质量检测</a>
            </div>
        </div>
        <div class="card text-center bg-light">
            <div class="card-body" style="padding-bottom: 0.2cm">
                <a class="card-text btn btn-outline-primary" href="./label_search_image.html">标签搜图</a>
                <a class="card-text btn btn-outline-primary" href="./search_similar_image.html">相似图片搜索</a>
            </div>
        </div>
        <div class="card text-center bg-light">
            <div class="card-body" style="padding-bottom: 0.2cm">
                <a class="card-text btn btn-outline-primary" href="./image_compare.html">图像比对</a>
                <a class="card-text btn btn-outline-primary" href="./image_gan.html">灵魂画师</a>
            </div>
        </div>
    </div>
</div>
</body>

