<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/custom.css">
</head>


<body>
<div class="container col-lg-6">
    <div style="padding-bottom: 0.5cm">
        <div class="card text-center bg-light">
            <div class="card-body" style="padding-bottom: 0.2cm">
                <input class="card-title form-control" type="text" id="input" name="input"
                       placeholder="Input sentences (like: 电脑中毒了吗 电脑坏了吗)"/>
                <button class="card-text btn btn-outline-primary" id="btn">短文本相似度</button>
                <div class="spinner" id="spinner" style="display: none">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
            <div class="card-footer bg-white">
                    <pre class="card-text api-pre" style="padding-bottom: 0.2cm">
                        <div class="item" id="api_input">电脑中毒了吗 电脑坏了吗</div>
                        <div class="item" id="api_output">score: 0.6466163599721264</div>
                    </pre>
            </div>
        </div>
    </div>
</div>
</body>


<script type="text/javascript">
    function api_call(input) {
        // hide button and make the spinner appear
        $('#btn').toggle();
        $('#spinner').toggle();

        $.ajax({
            url: "http://127.0.0.1:5001/short_text_sim_api",
            method: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(input),

            success: function (data, textStatus, jQxhr) {
                // toggle the spinner and button
                $('#btn').toggle();
                $('#spinner').toggle();

                // fill the html for answer
                $('#api_input').html(data.input);
                $('#api_output').html(data.output);

                $("#input").val("");
            },
            error: function (jqXhr, textStatus, errorThrown) {
                $('#btn').toggle();
                $('#spinner').toggle();

                $('#api_input').html("Sorry, the server is asleep...");
                $('#api_output').html("Try again in a moment!");

                console.log(errorThrown);
            },
            timeout: 10000 // sets timeout to 10 seconds
        });

    }


    $(document).ready(function () {
        // request when clicking on the button
        $('#btn').click(function () {
            // get the input data
            var input = $("#input").val();
            api_call(input);
            input = "";
        });
    });
</script>
</html>
