<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/custom.css">
</head>


<body>
    <div class="container col-lg-6">
        <div style="padding-bottom: 0.5cm">
            <div class="card text-center bg-light">
                <div class="card-body" style="padding-bottom: 0.2cm">
                    <button class="card-text btn btn-outline-primary" id="btn">词法分析</button>
                    <button class="card-text btn btn-outline-primary" id="btn">依存句法分析</button>
                    <button class="card-text btn btn-outline-primary" id="btn">词向量表示</button>
                    <button class="card-text btn btn-outline-primary" id="btn">文本纠错</button>
                </div>
                <div class="card-body" style="padding-bottom: 0.2cm">
                    <button class="card-text btn btn-outline-primary" id="btn">词义相似度</button>
                    <button class="card-text btn btn-outline-primary" id="btn">短文本相似度</button>
                    <button class="card-text btn btn-outline-primary" id="btn">语言模型</button>
                    <button class="card-text btn btn-outline-primary" id="btn">情感倾向分析</button>
                </div>
                <div class="card-body" style="padding-bottom: 0.2cm">
                    <button class="card-text btn btn-outline-primary" id="btn">评论观点抽取</button>
                    <button class="card-text btn btn-outline-primary" id="btn">对话情绪识别</button>
                    <button class="card-text btn btn-outline-primary" id="btn">文章标签</button>
                    <button class="card-text btn btn-outline-primary" id="btn">文章分类</button>
                </div>
            </div>
            <div class="card text-center bg-light">
                <div class="card-body" style="padding-bottom: 0.2cm">
                    <button class="card-text btn btn-outline-primary" id="btn">违禁检测</button>
                    <button class="card-text btn btn-outline-primary" id="btn">广告审核</button>
                    <button class="card-text btn btn-outline-primary" id="btn">低俗检测</button>
                    <button class="card-text btn btn-outline-primary" id="btn">涉政检测</button>
                    <button class="card-text btn btn-outline-primary" id="btn">侵权识别</button>
                </div>
            </div>
        </div>
    </div>
</body>

